@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_applayout";
    ViewBag.Title = "Bienvenido";
}
<h1 class="page-header">Dashboard</h1>
<h2>Lorem ipsum</h2>